rhew.org {
    root * /usr/share/caddy
    basic_auth /podcasts/* {
        {$PODCAST_USER} {$PODCAST_PASSWORD_HASH}
    }

    reverse_proxy /cgi-bin/food.cgi 8ball:7283
    reverse_proxy /memory-clock* memory-clock:8000

    @old_posts path_regexp old_posts ^/projects/posts/?(.*)$
    redir @old_posts /projects/{re.old_posts.1} 308

    file_server
}
